ul{
    list-style-type:none;
    height: 288px; // 3 item
    width: 100px;
    display:inline-block;
    overflow:scroll;
    overflow-x:hidden;
}
li{
    //padding: 10px;
    overflow: auto;
}

li:hover{
    background: #eee;
    cursor:pointer;
}

li img{
    margin: 0 10px 0 0;
}